.top{
    background-color: #011526;
    height: 200px;
}

.middle{
    background-color: #3C92A6;
    height: 50px;
    font-size: 40px;
    text-align: center;
}

.bottom{
    background-color: #89CAD9;
    height: 500px;
}

h1{
    text-align: center;
    vertical-align:middle;
    line-height: 60px;       
}

td{
    height: 150px;
    width: 150px;
    background-color: black;
}

button{
    height: 100%;
    width: 100%;
    background-color: black;
}
